<div class="todoitem">
    <span class="todoitem-title">@Title</span>
    <button class="todoitem-remove" @onclick="@InvokeRemove">x</button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public Action<Guid> Remove { get; set; }

    private void InvokeRemove()
    {
        Remove?.Invoke(Id);
    }
}
