@using todo_blazor_wasm.Models

<div class="todoitem">
    <span class="todoitem-title">@Item.Title</span>
    <button class="todoitem-remove" @onclick="@InvokeRemove">x</button>
</div>

@code {
    [Parameter]
    public TodoItemModel Item { get; set; }

    [Parameter]
    public Action<Guid> Remove { get; set; }

    private void InvokeRemove()
    {
        Remove?.Invoke(Item.Id);
    }
}
