.list {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.list-header{
    text-align: center;
}
.list-inputs{
    display:flex;
}
.list-inputs-input{
    width: 100%;
}

.list-todoitems-placeholder-container {
    text-align: center;
    color: #CCC;
    border: 1px dashed cornflowerblue;
    padding: 10px;
    margin-top: 5px;
}